/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/couple/select/Select.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/* ============================
   画面全体
============================ */
.Select_screen__LuZsi {
  padding: 40px;
  text-align: center;
  background: #FBF6F1;
  min-height: 100vh;
}

/* ============================
   タイトル
============================ */
.Select_title__mmhDP {
  font-size: 24px;
  font-weight: bold;
  color: #553924;
  margin-top: 90px;
}

.Select_subtitle__kcwFN {
  margin-bottom: 20px;
  color: #8C7A6B;
  text-align: left;
  line-height: 1.8;
}

.Select_subtitle__kcwFN:first-of-type{
  margin-top: 80px;
}

.Select_subtitle__kcwFN:last-of-type {
  margin-bottom: 80px;
}


/* ============================
   ボタンエリア
============================ */
.Select_buttons__CkbIC {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ============================
   ボタン（作成 / 参加）
============================ */
.Select_create__PtwNm,
.Select_join__baVJ1 {
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* 作成ボタン　*/
.Select_create__PtwNm {
  background: #8B5E3C;
}

/* 参加ボタン */
.Select_join__baVJ1 {
  background: #A0743C;
}

.Select_create__PtwNm:hover,
.Select_join__baVJ1:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}
